
body{

	font-family: 'Sue Ellen Francisco', cursive;
	color: floralwhite;

	background-image: url(/img/hand_feather.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	
}

.modal-header{

	/*float: left;*/
	background-color: yellow;

}


.modal-body{

	clear: left;
}


.modal.fade{

	background-color: papayawhip;
}

.modal-content{

	background-image: url(/img/graph_paper_by_rawen713.jpg);
}

.modal-header span {

	float: right;
	background-color: green;
}

.btn.btn-lg.btn-default{

	color: #331a00;
	background-color: 
	background-color: #fff3e5;
	border-color: #331a00;

}
